In [1]:
l=[1,2,3,4,5,"sudh","kumar",46.2]

In [2]:
for i in l :
    print(i)

1
2
3
4
5
sudh
kumar
46.2

In [5]:
  for i in l :
        pass

In [8]:
s="sudh"
for i in s:
    print (i)

s
u
d
h

In [9]:
print(*s)

s u d h

In [10]:
for i in l:
    print(i)
else:
    print("if for loop ends then this will execute")

1
2
3
4
5
sudh
kumar
46.2
if for loop ends then this will execute

In [11]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("if for loop ends then this will execute")
# due to break statement it is not going to execute else block

1
2
3

In [13]:
 s="prikshit"
for i in s:
    if i=="h":
        break
    print(i)
else:
    print("bye")
# due to break statement it is not going to execute else block

p
r
i
k
s

In [18]:
 t=(1,2,3,4,"sudh",34.4)

In [16]:
for i in t:
    print(i)

1
2
3
4
sudh
34.4

In [21]:
s={1,24,5,32,"2xc0",32.4,1}

In [22]:
for i in s:
    print(i)

32
1
32.4
5
24
2xc0

In [24]:
d={"key1":"sudh","contact":"prikshitsharma8024@gmail.com","position":"csq"}

In [30]:
for i in d:
    print(i," ---> " ,d[i])

key1  --->  sudh
contact  --->  prikshitsharma8024@gmail.com
position  --->  csq

In [45]:
 for i in range(4,0,-1):
    
        for j in range(i):
            print("sudh",end=" ")
        print("\n")

sudh sudh sudh sudh

sudh sudh sudh

sudh sudh

sudh

In [35]:
range(1,10)

range(1, 10)

In [36]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [42]:
 for i in range(1,5):
    
        for j in range(i):
            print("sudh",end=" ")
        print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [129]:
#wrong
n=5
k=n//2

for i in range(n):
    for j in range(i,n-1):
        print(" "*(k//2),end=" ")
    for j in range(i):
        print("sudh",end=" ")
        
    
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [134]:
n=4


for i in range(n):
    for j in range(i,n-1):
        print(" "*len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",e   d=" ")
        
    
    print()

               sudh
          sudh sudh sudh
     sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh

In [152]:
n=5
for i in range (n):
    print(" "*(n-i)+"sudh"*i)

    sudh
   sudhsudh
  sudhsudhsudh
 sudhsudhsudhsudh

In [136]:
t=(1,2,3,4,43,33,212)
for i in range(len(t)):
    print(i,"----->",t[i])

0 -----> 1
1 -----> 2
2 -----> 3
3 -----> 4
4 -----> 43
5 -----> 33
6 -----> 212

In [153]:
len(t)

7

In [156]:
s="PRIKSHIT"
for i in range(len(s)):
    print(i,"------>",s[i])

0 ------> P
1 ------> R
2 ------> I
3 ------> K
4 ------> S
5 ------> H
6 ------> I
7 ------> T

In [160]:
#same question but in reverse order
s="PRIKSHIT"
l=len(s)
for i in range(l-1,-1,-1):
    print(i,"------>",s[i])

7 ------> T
6 ------> I
5 ------> H
4 ------> S
3 ------> K
2 ------> I
1 ------> R
0 ------> P

In [161]:
d

{'key1': 'sudh', 'contact': 'prikshitsharma8024@gmail.com', 'position': 'csq'}

In [164]:
#print key and value in the form
d.items()

dict_items([('key1', 'sudh'), ('contact', 'prikshitsharma8024@gmail.com'), ('position', 'csq')])

In [169]:
for i in d.items():
    print(i,type(i),"   type of value   ",type(i[1]))

('key1', 'sudh') <class 'tuple'>    type of value    <class 'str'>
('contact', 'prikshitsharma8024@gmail.com') <class 'tuple'>    type of value    <class 'str'>
('position', 'csq') <class 'tuple'>    type of value    <class 'str'>

In [172]:
# extract only numbers and make a seprate list
l=["sudh","kumar",133443434,"sud923@gmail.com",345,23232323]
new_l=[]
for i in l:
    if type(i)==int or type(i)==float:
        new_l.append(i)

    
print(new_l)

[133443434, 345, 23232323]

In [176]:
#expecting key : value pair whaer key should be numeric one
d={1:31233,"name":"sudh","email_id":"sudhnshu@ineuron.ai",313:"dasdsd","43":"adda0",123:"2233"}
for i in  d:
    if type(i)==int:
        print(i,"--------->",d[i])

1 ---------> 31233
313 ---------> dasdsd
123 ---------> 2233

In [184]:
#print the occurance of each element
s="aaaabbccddzaffghbzzzzzzzzzzzzzzz"
a=set()
for i in s:
    a.add(i)
    
for j in list(a):
    number=s.count(j)
    print(j ," occured ------>",number,"  times")

c  occured ------> 2   times
d  occured ------> 2   times
b  occured ------> 3   times
g  occured ------> 1   times
h  occured ------> 1   times
a  occured ------> 5   times
z  occured ------> 16   times
f  occured ------> 2   times

In [187]:
# extract one by one the integer from i
i=123123233233131
#typecasting
for j in str(i):
    print(int(j))

1
2
3
1
2
3
2
3
3
2
3
3
1
3
1

In [222]:
#extract int 3
a=[]
t=("sudh","kumar",[1,2,3,4],(3,34,5),{"key1":"sudh","key2":"kumar",3:3},3)
for i in t:
    if type(i)==int:
        if i==3:
            a.append(3)
    elif type(i)==list or type(i)==tuple :
        if 3 in i:
            z=i.count(3)
            for j in range(z):
                 a.append(3)
    elif type(i)==dict:
        for j in  i.keys():
            if j==3:
                a.append(3)
        for j in i.values():
            if j==3:
                a.append(3)
        

print(*a,sep="\n")
            
print("Total number of times 3 has occured   ------>   ",len(a))

3
3
3
3
3
Total number of times 3 has occured   ------>    5

In [ ]:
#questions

"""q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai"""