#  if, elif, else

In [4]:
a=10
if a==10:
    print("hi")

hi

In [5]:
a=11
if a>=10:
    print("hi")
else:
    print()

hi

In [6]:
a=11
if a==10:
    print("hi")
elif a==11:
    print("yaaa")
else:
    print("noo")

yaaa

In [8]:
price=500
if price >500:
    print("no jacket")
elif price<=500:
    print(" jacket")

 jacket

In [9]:
price = 500

if price > 500 : 
    print(" may b i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")

else  :
    print("i dont know")

for sure i will be able to buy

In [11]:
l=[1,2,3,4,5,7]
1 in l

True

In [13]:
if 1 in l:
    print("ya")
else:
    print("no")

ya

In [14]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [18]:
b=(input())

11323123

In [20]:
type(b)

str

In [26]:
price=complex(input())

3

In [27]:
b

(3+0j)

In [30]:
price=int(input())
if price<500:
    print("oooooooo nya")
    if price<400:
        print("why")
    elif price<300:
            print("hahaaha")
    else:
        print("na")
else:
    print("i m god")

434
oooooooo nya
na

In [33]:
marks=float(input())
if marks >= 600:
    print("you will get admission in GRE")
elif marks<600:
    print("no GRE")
    if marks<500 and marks>=400:
        print("you will get admission in TOF")
    elif marks<400:
        print("nothing for you")
print("NICE TO MEET U")

200
no GRE
nothing for you
NICE TO MEET U

In [35]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number55
enter value is a positive number

In [36]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

lets do something

In [37]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [38]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are not verified

# loop

In [39]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [40]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [41]:
print(*l)

1 2 3 4 5 sudh 234.45

In [44]:
z=0
for i in l:
    if type(i)==int or type(i)==float:
        z+=i
    else:
        print(i," can't add")
print(z)

sudh  can't add
249.45