## list

In [ ]:
# list : mutable, ordered, allow duplicate elements

#### index

In [1]:
mylist = ["banana","cherry","apple"]
print(mylist)

item = mylist[0]
print(item)

['banana', 'cherry', 'apple']
banana

In [3]:
mylist[1]

'cherry'

In [4]:
mylist[-1]

'apple'

#### iterating over list

In [5]:
for i in mylist:
    print(i)

banana
cherry
apple

#### check if element inside the list

In [6]:
if "banana" in mylist :
    print("inside")
else:
    print(no)

inside

In [7]:
if "apple" in mylist :
    print("inside")
else:
    print(no)

inside

#### length of the list

In [8]:
len(mylist)

3

#### append and insert

In [10]:
mylist.append("lemon")   # append at last

mylist

['banana', 'cherry', 'apple', 'lemon']

In [11]:
mylist.insert(1,"4")  # append at ceratian position

mylist

['banana', '4', 'cherry', 'apple', 'lemon']

#### pop, remove,  clear

In [12]:
mylist.pop()

'lemon'

In [13]:
mylist.pop()
mylist

['banana', '4', 'cherry']

In [14]:
mylist.remove("4")

In [15]:
mylist.remove("11")

ValueError: list.remove(x): x not in list

In [16]:
mylist.clear()

In [17]:
mylist

[]

#### sort() and sorted()

In [23]:
mylist = ["banana","cherry","apple"]

mylist.sort()

mylist  # it change the existing list

['apple', 'banana', 'cherry']

In [21]:
mylist = ["banana","cherry","apple"]

sorted(mylist)   # it does not chnage the the existing list

['apple', 'banana', 'cherry']

In [22]:
mylist

['banana', 'cherry', 'apple']

In [25]:
mylist= [3,4,1,2,7,-2,4,2]
mylist.sort()
mylist

[-2, 1, 2, 2, 3, 4, 4, 7]

In [26]:
mylist =  [0 ]*5

print(mylist)

[0, 0, 0, 0, 0]

In [28]:
l= mylist+ [0,1,3,2,2]
l

[0, 0, 0, 0, 0, 0, 1, 3, 2, 2]

In [33]:
l[-2:]

[2, 2]

#### copy of the List

In [34]:
l_origin = ["banana","cherry","apple"]

l_copy = l_origin

l_copy.append("2")
print(l_origin)

print(l_copy)

['banana', 'cherry', 'apple', '2']
['banana', 'cherry', 'apple', '2']

In [36]:
l_origin = ["banana","cherry","apple"]

l_copy = l_origin.copy()

l_copy.append("2")
print(l_origin)

print(l_copy)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', '2']

In [37]:
l_origin = ["banana","cherry","apple"]

l_copy = l_origin[:]

l_copy.append("2")
print(l_origin)

print(l_copy)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', '2']

In [38]:
l_origin = ["banana","cherry","apple"]

l_copy = list(l_origin)

l_copy.append("2")
print(l_origin)

print(l_copy)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', '2']

#### list comprehension

In [40]:
# list comprehension

a= [1,2,3,4,5]

b= [i*i for i in a]
b

[1, 4, 9, 16, 25]

if I put a list inside a tuple, can I change the contents of that list elements?

In [1]:
my_tuple = (1, 2, [3, 4, 5])

In [2]:
my_tuple[2].append(6)

In [3]:
my_tuple[2].append(6) 
my_tuple[2].remove(4)

In [4]:
my_tuple

(1, 2, [3, 5, 6, 6])