## Sets

In [1]:
# sets: unordered , mutable, no duplicates

In [2]:
myset={1,2,3,5,5}

print(myset,type(myset))

{1, 2, 3, 5} <class 'set'>

In [3]:
myset=set([1,2,3,5,5])

print(myset,type(myset))

{1, 2, 3, 5} <class 'set'>

In [5]:
#note
a={}

print(type(a))

<class 'dict'>

In [4]:
myset=set("hello")

print(myset,type(myset))

{'o', 'l', 'e', 'h'} <class 'set'>

In [8]:
# adding element in set

myset =set()
myset.add(1)
myset.add(1)
myset.add(2)
myset.add(10)


myset

{1, 2, 10}

In [10]:
myset.remove(1)

In [9]:
myset.reove(3) # if element inside the set is not present

AttributeError: 'set' object has no attribute 'reove'

In [11]:
myset.discard(3) # it will  not give exception even if the element is not present

In [12]:
myset.clear()

In [13]:
myset

set()

In [14]:
myset={1,2,3,5,5}

for i in myset:
    print(i)

1
2
3
5

In [15]:
if 2 in myset:
    print("yes ")

yes

In [17]:
# union and intersection

odds={1,3,5,7,9}
evens={0,2,4,6,8}
primes={2,3,5,7}

u = odds.union(evens)
print("union: ", u )

i = odds.intersection(evens)
print("intersection: ", i)

# odd prime 

op = odds.intersection(primes)
print("odd prime : ", op)

ep= evens.intersection(primes)
print("evens primes: ",ep)

union:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection:  set()
odd prime :  {3, 5, 7}
evens primes:  {2}

In [19]:
# difference of two sets

setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}


dif1 =  setA-setB

print(dif1)

dif2 =  setA.difference(setB)

print(dif2)

{1, 2, 3}
{1, 2, 3}

In [20]:
# semerteric difference
 
setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}

sem_diff= setA.symmetric_difference(setB)  # it will remove the elements which are commen in both the list

sem_diff

{1, 2, 3, 7, 8, 9}

- note :  union , intersection , symmetric_difference  will not change the original set inplace 
- where update , intersection_update, difference_update, symmetric_difference_update  wll chnage the original set inplace

In [22]:
setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}

setA.update(setB)

setA

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}
setA.intersection_update(setB)
setA

{4, 5, 6}

In [24]:
setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}
setA.difference_update(setB)
setA

{1, 2, 3}

In [25]:
setA = {1,2,3,4,5,6}
setB= {4,5,6,7,8,9}
setA.symmetric_difference_update(setB)
setA

{1, 2, 3, 7, 8, 9}

#### subset

In [27]:


setA = {1,2,3,4,5,6}
setB= {1,2,3}

setA.issubset(setB)

False

In [28]:
setA = {1,2,3,4,5,6}
setB= {1,2,3}

setB.issubset(setA)

True

#### superset

In [29]:
setA = {1,2,3,4,5,6}
setB= {1,2,3}

setB.issuperset(setA)

False

In [30]:
setA = {1,2,3,4,5,6}
setB= {1,2,3}

setA.issuperset(setB)

True

#### disjoint

In [33]:
setA = {1,2,3,4,5,6}
setB= {1,2,3}

setA.isdisjoint(setB)  # not comment elements

False

In [35]:
setA = {1,2,3,4,5,6}
setB= {8,9}

setA.isdisjoint(setB)  # not comment elements

True

##### copying two sets

In [36]:
setA = {1,2,3,4,5,6}

setB=setA

setB.add(7)

print(setA)
print(setB)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [37]:
setA = {1,2,3,4,5,6}

setB=setA.copy()

setB.add(7)

print(setA)
print(setB)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [38]:
setA = {1,2,3,4,5,6}

setB=set(setA)

setB.add(7)

print(setA)
print(setB)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [39]:
## frozen set  - > immutable version of normal set


a = frozenset([1,2,3,4,5,6])

print(a,type(a))

frozenset({1, 2, 3, 4, 5, 6}) <class 'frozenset'>

In [40]:
a.add(2)

AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
a.remove(1)

AttributeError: 'frozenset' object has no attribute 'remove'