## Tuples

In [1]:
# Tuple: ordered, immutable, allows duplicate elements

In [4]:
mytuple = ("Max", 28, "Boston")
print(mytuple)
print(type(mytuple))

('Max', 28, 'Boston')
<class 'tuple'>

In [6]:
mytuple = ("M") 
print(mytuple)
print(type(mytuple))

M
<class 'str'>

In [7]:
mytuple = ("Max",) 
print(mytuple)
print(type(mytuple))

('Max',)
<class 'tuple'>

In [8]:
# list (iterable) to tuple

mytuple = tuple(["Max", 28, "Boston"])

print(mytuple)
print(type(mytuple))

('Max', 28, 'Boston')
<class 'tuple'>

In [9]:
# indexing
item = mytuple[0]

In [10]:
mytuple[-1]

'Boston'

In [13]:
# though tuples are immutable, but if the element is a list, then the list can be changed
mytuple = ("Max", 28, "Boston")
mylist = list(mytuple)
mylist[0] = "Tim"
mytuple = tuple(mylist)
mytuple

('Tim', 28, 'Boston')

In [14]:
for i in mytuple:
    print(i)

Tim
28
Boston

In [15]:
if "max" in mytuple:
    print("yes")
else:
    print("no")

no

In [16]:
len(mytuple)

3

In [1]:
my_tuple = ('a','p','p','l','e')

print(my_tuple.count('a'))

1

In [2]:
mu

5

In [3]:
mytuple = tuple(["Max", 28, "Boston"])

In [4]:
# slicing
mytuple[:2]

('Max', 28)

In [8]:
a=(1,2,3,4,5,6)

b=a[::3]
b

(1, 4)

In [10]:
#unpacking
my_tuple="max",25,"bostom"
name,age,city= my_tuple

print(name)
print(age)
print(city)
type(my_tuple)

max
25
bostom

tuple

In [11]:
a=(1,2,3,4,5,6)
i1,*i2,i3=a

print(i1,type(i1)) 
print(i2,type(i2))
print(i3,type(i3))

1 <class 'int'>
[2, 3, 4, 5] <class 'list'>
6 <class 'int'>

In [12]:
import sys
my_list=[0,1,2,"hello",True]
my_tuple=(0,1,2,"hello",True)

print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuple),"bytes")

104 bytes
80 bytes

In [13]:
import timeit

print(timeit.timeit(stmt="[0,1,3,4,5]",number=1000000))
print(timeit.timeit(stmt="(0,1,3,4,5)",number=1000000))

1.139609400066547
0.2323892000131309